html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

a:visited {
  color: unset;
}

* {
  font-family: "Roboto", sans-serif;
}

nav {
  height: 100%;
}
nav .navbar-top {
  background-color: #020203;
  color: #fff;
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}
nav .navbar-top .logo {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
}
nav .navbar-top .logo img {
  margin: auto;
}
nav .navbar-top__pages {
  width: 100%;
  display: flex;
  flex-direction: row;
}
nav .navbar-top__pages ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px 0px;
  font-size: 1.5rem;
}
nav .navbar-left {
  background-color: #020203;
  color: #fff;
  height: calc(100% - 5rem);
  width: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
nav .navbar-left__activities {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav .navbar-left__activities ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 20px;
}
nav .navbar-left .copyright {
  font-size: 0.75rem;
  transform: rotate(-90deg);
  width: max-content;
  align-self: center;
}
nav li {
  transition: all 0.3s ease-in-out;
}
nav li:hover {
  transform: scale(1.15);
}

main {
  height: calc(100% - 4.5rem);
  width: calc(100% - 5.5rem);
  padding: 3rem 3rem 4rem 3.7rem;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
main.error {
  font-size: 2.5rem;
  font-weight: 500;
}
main.error small {
  font-size: 0.8rem;
  margin-left: 15px;
  color: #6f6f6f;
}

header {
  display: flex;
  flex-direction: column;
}
header h1 {
  font-size: 2.7rem;
  font-weight: 500;
}
header h1 .username {
  color: #E60000;
}
header p {
  margin: 1.3rem 0;
}

#dashboard {
  display: flex;
  flex-direction: row;
  height: inherit;
  gap: 2rem;
}
#dashboard .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  width: 75%;
  height: 100%;
}
#dashboard .container .bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  min-height: 200px;
  width: 100%;
  height: 45%;
}
#dashboard .container .bottom-row > div {
  min-width: 200px;
  width: 30%;
}
#dashboard .informationCards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  height: 100%;
  gap: 2rem;
}
#dashboard .informationCards > div {
  height: 100%;
}

#dailyActivity {
  height: 55%;
  background-color: #FBFBFB;
}

#calories .card__icon {
  background-color: #ffcccc;
  color: #FF0000;
}

#protein .card__icon {
  background-color: #e3f4ff;
  color: #4AB8FF;
}

#carb .card__icon {
  background-color: #feefb3;
  color: #FDCC0C;
}

#lipid .card__icon {
  background-color: #ffe8ef;
  color: #FD5181;
}

#averageSessions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(to right, #FF0000 0%, #FF0000 70%, #cc0000 70%, #cc0000 100%);
}
#averageSessions .title {
  position: relative;
  top: 10%;
  left: 10%;
  width: 66%;
}
#averageSessions .title p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  opacity: 0.5;
}
#averageSessions .recharts-responsive-container {
  position: relative;
}
#averageSessions .recharts-surface {
  padding: 10px;
}
#averageSessions .custom-tooltip {
  background-color: #fff;
  padding: 10px;
  color: #000;
  font-size: 0.75rem;
}

#dailyActivity {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
  color: #fff;
}
#dailyActivity .title {
  position: relative;
  left: 5%;
  top: 5%;
}
#dailyActivity .custom-tooltip {
  background-color: #E60000;
  font-size: 0.75rem;
}
#dailyActivity .custom-tooltip p {
  padding: 5px;
  text-align: center;
}
#dailyActivity .recharts-legend-item-text {
  color: #74798C !important;
  font-size: 0.85rem;
}

#userObjective {
  background-color: #FBFBFB;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
#userObjective .title {
  align-self: flex-start;
  position: absolute;
  height: 0;
}
#userObjective .title p {
  margin-left: 1.5rem;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #20253A;
}
@media (max-width: 1200px) {
  #userObjective .title {
    margin-left: -10px;
    margin-top: 0;
  }
}
#userObjective .label-objective {
  position: absolute;
  bottom: 20%;
}
#userObjective .label-objective p {
  font-weight: 500;
  text-align: center;
  text-justify: inter-word;
  color: #6e7b83;
}
#userObjective .label-objective .percentage {
  font-weight: 700;
  font-size: 1.3rem;
  color: #282D30;
  margin-bottom: 0.6rem;
}
@media (min-width: 1200px) {
  #userObjective .label-objective .percentage {
    font-size: 1.5rem;
  }
}

#userPerformence {
  background-color: #282D30;
  border-radius: 5px;
  padding: 25px;
  color: #fff;
  font-size: 0.7rem;
}
@media (min-width: 1200px) {
  #userPerformence {
    font-size: 0.9rem;
  }
}
#userPerformence .recharts-surface {
  overflow: visible;
}

.card {
  background-color: #FBFBFB;
  display: flex;
  flex-direction: row;
  padding-left: 20%;
  gap: 1rem;
  align-items: center;
  border-radius: 6px;
}
@media (max-width: 1200px) {
  .card {
    font-size: 0.9rem;
  }
}
.card__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  padding: 1rem;
  max-width: 60px;
  max-height: 60px;
}
.card__icon img {
  width: auto;
}
.card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 25%;
  height: 50%;
}
.card__text--val {
  font-weight: 700;
  color: #282D30;
}
.card__text--title {
  font-size: 0.8rem;
  color: #74798C;
}

#modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
#modal .modal-content {
  width: 40%;
  height: 30%;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#modal .modal-content .modal-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#modal .modal-content .modal-body h2 {
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(255, 0, 0, 0.6);
  font-weight: bold;
}
#modal .modal-content .modal-body .content {
  display: flex;
  flex-direction: column-reverse;
}
#modal .modal-content .modal-body .modal-footer {
  position: absolute;
  bottom: 0;
  align-self: end;
  padding-top: 10px;
  padding-bottom: 10px;
}
#modal .modal-content .modal-body .modal-footer .closeModal {
  background: rgba(255, 0, 0, 0.6);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#modal .modal-content .modal-body .modal-footer .closeModal:hover {
  background: #FF0000;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
