html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

a:visited {
  color: unset;
}

* {
  font-family: "Roboto", sans-serif;
}

nav {
  height: 100%;
}
nav .navbar-top {
  background-color: #020203;
  color: #fff;
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
nav .navbar-top .logo {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
}
nav .navbar-top .logo img {
  margin: auto;
}
nav .navbar-top__pages {
  width: 100%;
  display: flex;
  flex-direction: row;
}
nav .navbar-top__pages ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5rem;
  padding: 30px 0px;
}
nav .navbar-left {
  background-color: #020203;
  color: #fff;
  height: calc(100% - 90px);
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
nav .navbar-left__activities {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav .navbar-left__activities ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
nav .navbar-left .copyright {
  font-size: 0.75rem;
  transform: rotate(-90deg);
  width: max-content;
  align-self: center;
}
nav li {
  transition: all 0.3s ease-in-out;
}
nav li:hover {
  transform: scale(1.15);
}

main {
  height: calc(100% - 90px);
  width: calc(100% - 110px);
  padding: 60px 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main h1 {
  font-size: 3rem;
  font-weight: 500;
}
main h1 .username {
  color: #E60000;
}

#dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  height: inherit;
}

#dailyActivity {
  grid-area: 1/1/3/4;
  background-color: #FBFBFB;
}

#averageSessions {
  grid-area: 3/1/5/2;
  background-color: #FBFBFB;
}

#userPerformence {
  grid-area: 3/2/5/3;
  background-color: #FBFBFB;
}

#userObjective {
  grid-area: 3/3/5/4;
  background-color: #FBFBFB;
}

#calories {
  grid-area: 1/4/2/5;
  background-color: #FBFBFB;
}

#protein {
  grid-area: 2/4/3/5;
  background-color: #FBFBFB;
}

#carb {
  grid-area: 3/4/4/5;
  background-color: #FBFBFB;
}

#lipid {
  grid-area: 4/4/5/5;
  background-color: #FBFBFB;
}

#averageSessions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
  color: #fff;
  background-color: #FF0000;
}
#averageSessions .title {
  position: relative;
  top: 10%;
  left: 10%;
  width: 66%;
}
#averageSessions .title h3 {
  font-size: 1.15rem;
  font-weight: 500;
  color: #fff;
  opacity: 0.5;
}
#averageSessions .recharts-responsive-container {
  position: relative;
}
#averageSessions .recharts-surface {
  padding: 10px;
}
#averageSessions .custom-tooltip {
  background-color: #fff;
  padding: 10px;
  color: #000;
  font-size: 0.75rem;
}

#dailyActivity {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
  color: #fff;
}
#dailyActivity .title {
  position: relative;
  left: 5%;
  top: 5%;
}
#dailyActivity .title h3 {
  font-size: 1.15rem;
  font-weight: 500;
  color: #20253A;
}
#dailyActivity .custom-tooltip {
  background-color: #E60000;
  font-size: 0.75rem;
}
#dailyActivity .custom-tooltip p {
  padding: 5px;
  text-align: center;
}
#dailyActivity .recharts-legend-item-text {
  color: #74798C !important;
  font-size: 0.85rem;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
