header {
    @include col;

    h1 {
        font-size: 2.7rem;
        font-weight: 500;

        .username {
            color: $primary;
        }
    }

    p {
        margin: 1rem 0;

    }

}