main {
    height: calc(100% - 90px);
    width: calc(100% - 110px);
    padding: 60px 100px;
    position: absolute;
    bottom: 0;
    right: 0;

    @include col-justify(space-between);

    h1 {
        font-size: 3rem;
        font-weight: 500;

        .username {
            color: $primary;
        }
    }
}