main {
    height: calc(100% - 5rem);
    width: calc(100% - 5.5rem);
    padding: 2rem 2.5rem 2rem 3.7rem;

    position: absolute;
    bottom: 0;
    right: 0;

    @include col-justify(space-between);


}