main {
    border: 3px solid blue;
    height: calc(100% - 90px);
    width: calc(100% - 110px);
    padding: 60px 100px;
    position: absolute;
    bottom: 0;
    right: 0;

    h1 {
        font-size: 3rem;
        font-weight: 500;

        .username {
            color: $primary;
        }
    }
}