$primary: #E60000;
$dark: #020203;
$gray: #282D30;
$light-gray: #FBFBFB;
$txt-light: #282D30;
$darken-red: darken(#FF0000, 10%);


$caloriesColor: #FF0000;
$proteinColor: #4AB8FF;
$carbColor: #FDCC0C;
$lipidColor: #FD5181;